.hide_till_load {
    visibility: hidden;
}

html { visibility:hidden; }

.hide_till_5s {
    visibility: hidden;
}

.pageContent {
    /*background-color: antiquewhite;*/
}

.verse {
    font-size: min(calc(2.8vw - 0.4px), 14px);
    overflow: clip;
}

.thumbnail {
    float: left;
    max-height: 150px;
    max-width: 50%;
    padding-right: 10px;
    padding-bottom: 10px;
}

.portrait {
    object-fit: cover;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
    .portrait {
      display: flex;
    }
}

.article {
    color: inherit;
    text-decoration: none;
}
.article:hover {
    text-decoration: none;
    color: inherit;
}
.article:hover h3{
    text-decoration: underline;
    color: #6491ff;
}

.article_content {
    /*display: flex;*/
}


.teaser {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 600px) {
    .article_content {
      display: flex;
    }
}

@media only screen and (min-width: 600px) {
    .footer {
      display: flex;
    }
}

@media only screen and (min-width: 300px) {
    .portrait {
      max-width: 50%;
    }
}
    

